.team {
  .toolbar-navigation {
    top: 84px !important;
    right: 100px !important;
  }

  .toolbar-label {
    top: 92px !important;
    left: 46% !important;
  }

  .rbc-month-view {
    margin-top: 42px !important;
  }
}
