.team-calendar {
  .rbc-toolbar {
    flex-direction: row-reverse !important;
  }

  .rbc-btn-group,
  .rbc-toolbar-label {
    width: 50% !important;
    display: flex !important;
    justify-content: end !important;
    padding: unset !important;
  }

  .rbc-toolbar-label {
    margin-right: -80px;
  }

  .rbc-month-view {
    border-radius: 6px;
    margin-top: 42px;
  }
}
.rbc-overlay {
  max-height: 250px !important;
  overflow-x: scroll !important;
}

.toolbar-navigation {
  position: absolute;
  top: 18px;
  right: 20px;
  button:first-child {
    border-radius: 4px 0px 0px 4px;
  }
  button:last-child {
    border-radius: 0px 4px 4px 0px;
  }
}

.toolbar-btn {
  // margin-left: 8px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  background-color: transparent;
  cursor: pointer;
}

.toolbar-label {
  position: absolute;
  top: 26px;
  left: 46%;
}
