.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rbc-btn-group{
  width: 43% !important;
}
.rbc-toolbar-label{
  width: 50% !important;
  text-align: start !important;
}
.rbc-toolbar{
  margin-bottom: 20px !important;
}

/* for react-big-calendar show more detail popup */
.rbc-overlay{
  z-index: 299 !important;
}